<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body style="height: 100vh">
<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container-fluid d-flex align-items-center">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0"
            th:text="${admin.getEmail()} +' with roles: '+ ${admin.getStringRoles()}"/>
        <a th:href="@{/logout}" class="ms-auto link-secondary text-decoration-none">Logout</a>
    </div>
</header>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2 g-0 py-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="admin-nav-link" data-bs-toggle="tab"
                       data-bs-target="#admin-panel" type="button" role="tab" aria-controls="admin-panel"
                       aria-selected="true">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="user-nav-link" data-bs-toggle="tab" data-bs-target="#user-panel"
                       type="button" role="tab" aria-controls="user-panel" aria-selected="false">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 bg-light gx-5 py-3 tab-content">
            <div class="tab-pane fade show active" id="admin-panel" role="tabpanel" aria-labelledby="admin-nav-link"
                 tabindex="0">
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" id="users-table-tab" data-bs-toggle="tab"
                           data-bs-target="#users-table-pane" type="button" role="tab" aria-controls="users-table-pane"
                           aria-selected="true">Users Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="new-users-tab" data-bs-toggle="tab"
                           data-bs-target="#new-users-pane" type="button" role="tab" aria-controls="new-users-pane"
                           aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content" role="tabpanel">
                    <!--Users table-->
                    <div class="tab-pane fade show active" id="users-table-pane" role="tabpanel"
                         aria-labelledby="users-table-tab" tabindex="0">
                        <div class="card rounded-0">
                            <h5 class="card-header">All users</h5>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Roles</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}">id</td>
                                    <td th:text="${user.username}">username</td>
                                    <td th:text="${user.firstName}">first name</td>
                                    <td th:text="${user.lastName}">last name</td>
                                    <td th:text="${user.age}">age</td>
                                    <td th:text="${user.email}">email</td>
                                    <td th:text="${user.getStringRoles()}">roles</td>
                                    <td>
                                        <button type="button" class="btn btn-info text-white" data-bs-toggle="modal"
                                                data-bs-target="#modalEdit"
                                                th:data-bs-target="${'#modalEdit'+user.id}">Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#modalDelete"
                                                th:data-bs-target="${'#modalDelete'+user.id}">Delete
                                        </button>
                                    </td>
                                    <!--Edit user-->
                                    <div class="modal fade" th:id="${'modalEdit'+user.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form id="formEdit" th:method="PATCH"
                                                      th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit user</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"/>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <div class="form-group required">
                                                            <div class="controls">
                                                                <p>
                                                                    <label for="editId">
                                                                        <strong>ID</strong>
                                                                        <input class="form-control" th:type="number"
                                                                               id="editId"
                                                                               th:name="id"
                                                                               th:value="${user.id}" disabled>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="editUsername">
                                                                        <strong>Username</strong>
                                                                        <input class="form-control" th:type="text"
                                                                               id="editUsername"
                                                                               th:name="username"
                                                                               placeholder="Username"
                                                                               th:value="${user.username}" required>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="editFirstName">
                                                                        <strong>First name</strong>
                                                                        <input class="form-control" th:type="text"
                                                                               id="editFirstName"
                                                                               th:name="firstName"
                                                                               placeholder="First name"
                                                                               th:value="${user.firstName}" required>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="editLastName">
                                                                        <strong>Last name</strong>
                                                                        <input class="form-control" th:type="text"
                                                                               id="editLastName"
                                                                               th:name="lastName"
                                                                               placeholder="Last name"
                                                                               th:value="${user.lastName}" required>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="editAge">
                                                                        <strong>Age</strong>
                                                                        <input class="form-control" th:type="number"
                                                                               id="editAge"
                                                                               th:name="age"
                                                                               placeholder="Age"
                                                                               th:value="${user.age}" required>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="editEmail">
                                                                        <strong>Email</strong>
                                                                        <input class="form-control" th:type="text"
                                                                               id="editEmail"
                                                                               th:name="email"
                                                                               placeholder="Email"
                                                                               th:value="${user.email}" required>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="editPassword">
                                                                        <strong>Password</strong>
                                                                        <input class="form-control" th:type="password"
                                                                               id="editPassword"
                                                                               th:name="password"
                                                                               placeholder="Password"
                                                                               th:value="${user.password}" required>
                                                                    </label>
                                                                </p>
                                                                <label class="container-fluid" for="editRoles">
                                                                    <strong>Roles</strong>
                                                                    <select id="editRoles" class="form-select"
                                                                            name="roles" multiple size="2">
                                                                        <option th:each="role: ${roles}"
                                                                                th:value="${role.getId()}">
                                                                            <th:block
                                                                                    th:text="${role.getName().replaceAll('ROLE_','')}"/>
                                                                        </option>
                                                                    </select>
                                                                </label>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" id="editFormCloseButton"
                                                                        class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Delete user-->
                                    <div class="modal fade" th:id="${'modalDelete'+user.id}" tabindex="-1"
                                         aria-labelledby="edit" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <form id="formDelete" th:method="DELETE"
                                                      th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete user</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"/>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <div class="form-group required">
                                                            <div class="controls">
                                                                <p>
                                                                    <label for="deleteId">
                                                                        <strong>ID</strong>
                                                                        <input class="form-control"
                                                                               id="deleteId" disabled
                                                                               th:type="number"
                                                                               th:name="id"
                                                                               th:value="${user.id}">
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="deleteUsername">
                                                                        <strong>Username</strong>
                                                                        <input class="form-control"
                                                                               id="deleteUsername" disabled
                                                                               th:type="text"
                                                                               th:value="${user.username}">
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="deleteFirstName">
                                                                        <strong>First name</strong>
                                                                        <input class="form-control"
                                                                               id="deleteFirstName" disabled
                                                                               th:type="text"
                                                                               th:value="${user.firstName}">
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="deleteLastName">
                                                                        <strong>Last name</strong>
                                                                        <input class="form-control"
                                                                               id="deleteLastName" disabled
                                                                               th:type="text"
                                                                               th:value="${user.lastName}">
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="deleteAge">
                                                                        <strong>Age</strong>
                                                                        <input class="form-control"
                                                                               id="deleteAge" disabled
                                                                               th:type="number"
                                                                               th:value="${user.age}">
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label for="deleteEmail">
                                                                        <strong>Email</strong>
                                                                        <input class="form-control"
                                                                               id="deleteEmail" disabled
                                                                               th:type="text"
                                                                               th:value="${user.email}">
                                                                    </label>
                                                                </p>
                                                                <label class="container-fluid col-6" for="deleteRoles">
                                                                    <strong>Roles</strong>
                                                                    <select id="deleteRoles" class="form-select"
                                                                            multiple size="2" disabled>
                                                                        <option th:each="role: ${user.getRoles()}">
                                                                            <th:block
                                                                                    th:text="${role.name.replaceAll('ROLE_','')}"/>
                                                                        </option>
                                                                    </select>
                                                                </label>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" id="deleteFormCloseButton"
                                                                        class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-danger">Delete
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--Add user-->
                    <div class="tab-pane fade" id="new-users-pane" role="tabpanel" aria-labelledby="new-users-tab"
                         tabindex="0">
                        <div class="card rounded-0">
                            <h5 class="card-header">Add new user</h5>
                            <div class="form-justify-content-center mx-auto col-4">
                                <div class="card-body text-center">
                                    <form th:align="center" th:action="@{/admin}" th:object="${newUser}" method="POST">
                                        <p>
                                            <label class="container-fluid" for="newUsername">
                                                <strong>Username</strong>
                                                <input class="form-control" type="text"
                                                       id="newUsername" placeholder="Username"
                                                       th:field="${newUser.username}" required>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="container-fluid" for="newFirstName">
                                                <strong>First name</strong>
                                                <input class="form-control" type="text"
                                                       id="newFirstName" placeholder="First name"
                                                       th:field="${newUser.firstName}" required>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="container-fluid" for="newLastName">
                                                <strong>Last name</strong>
                                                <input class="form-control" type="text"
                                                       id="newLastName" placeholder="Last name"
                                                       th:field="${newUser.lastName}" required>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="container-fluid" for="newAge">
                                                <strong>Age</strong>
                                                <input class="form-control" type="number"
                                                       id="newAge" placeholder="Age"
                                                       th:field="${newUser.age}" required>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="container-fluid" for="newEmail">
                                                <strong>Email</strong>
                                                <input class="form-control" type="text"
                                                       id="newEmail" placeholder="Email"
                                                       th:field="${newUser.email}" required>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="container-fluid" for="newPassword">
                                                <strong>Password</strong>
                                                <input class="form-control" type="password"
                                                       id="newPassword" placeholder="Password"
                                                       th:field="${newUser.password}" required>
                                            </label>
                                        </p>
                                        <label class="container-fluid" for="newRoles">
                                            <strong>Roles</strong>
                                            <select id="newRoles" class="form-select" name="roles" multiple size="2">
                                                <option th:each="role: ${roles}" th:value="${role.getId()}">
                                                    <th:block th:text="${role.getName().replaceAll('ROLE_','')}"/>
                                                </option>
                                            </select>
                                        </label>
                                        <button type="submit" id="newUserButton" class="btn btn-success">Add new user
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--User information-page-->
            <div class="tab-pane fane" id="user-panel" role="tabpanel" aria-labelledby="user-nav-link" tabindex="0">
                <h2>User information-page</h2>
                <div class="tab-content" role="tabpanel" aria-labelledby="admin-nav-link">
                    <div class="tab-pane fade show active" role="tabpanel" tabindex="0">
                        <div class="card rounded-0">
                            <h5 class="card-header">About user</h5>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Roles</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${admin.id}"></td>
                                    <td th:text="${admin.username}"></td>
                                    <td th:text="${admin.firstName}"></td>
                                    <td th:text="${admin.lastName}"></td>
                                    <td th:text="${admin.age}"></td>
                                    <td th:text="${admin.email}"></td>
                                    <td th:text="${admin.getStringRoles()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>