<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/user/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="username">Username : </label>
    <input type="text" th:field="*{username}" id="username"/>

    <br/>

    <label for="password">Password : </label>
    <input type="text" th:field="*{password}" id="password"/>

    <br/>

    <label for="firstName">First name : </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>

    <br/>

    <label for="lastName">Last name : </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <br/>

    <select multiple name="roles" id="roles">
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
    </select>

    <input type="submit" value="Update!"/>
</form>
</body>
</html>